@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family */
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* sharded style */
main> section {
    max-width: 1440px;
    margin: 120px auto 0;
}
/* dark 02 */
.gray {
    color: #424242;
}
/* dark 03 */
.light-gray {
    color: #727272;
}
/* orange-color */
.orange-color {
    color: #FF900E;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.display-flex {
    display: flex;
}
.btn-primary {
    background-color: #FF900E;
    font-size: 1.2rem;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    transition: 0.3s;
}
.btn-primary:hover {
    background-color: white;
    color: #FF900E;
    border: 1px solid #FF900E;
}
/* nav related style  */
.nav-bar {
    max-width: 1440px;
    padding-top: 30px;
    margin: 0 auto 102px;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    gap: 30px;
    list-style: none;
}
.nav-link {
    text-decoration: none;
    transition: 0.3s;
}
.nav-link:hover {
    color: #FF900E;
    padding: 10px 20px;
    border: 1px solid #FF900E;
}
.brand-section {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.brand-content {
    max-width: 860px;
    margin: 0 auto 50px;
}
.brand-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.brand-description {
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
}
.brand-image img {
    width: 100%;
    padding-bottom: 45px;
}
/* header  */
header {
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
}
/* feature-related-style */
.our-feature {
    align-items: center;
}
.feature-image {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-image img {
    width: 100%;
    transition: transform .2s;
}
.feature-image img:hover {
    transform: scale(1.8);
}
.feature-content {
    max-width: 530px;
    margin-left: 73px;
}
#quick-list {
    font-weight: 600;
}
.feature-description,
.benefits-description {
    line-height: 26px;
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 30px;
}
/* our-benefits related style */
.our-benefits {
    gap: 146px;
    /* justify-items: center; */
    align-items: center;
}
.left-border {
    border-left: 4px solid #FF900E;
    padding-left: 20px;
}
.benefits-box {
    width: 586px;
    padding: 30px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    transition: 0.3s;
}
.benefits-box:hover {
    border: 1px solid #FF900E;
    color: #FF900E;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.334);
}
.benefit-header {
    margin-bottom: 10px;
}
.architect-image img {
    width: 100%;
}

/* some fact related style  */
 .some-facts {
    max-width: 1440px;
    margin: 0 auto;
    }
.fact-box {
    justify-content: center;
    gap: 124px;
    text-align: center;
}
.fact-card {
    width: 241px;
    padding: 45px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    transition: 0.3s;
}
.fact-card:hover {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.334);
    color: #FF900E;
}
.fact-description,
.sponsors-description {
    margin: 24px 0 100px;
}
/* sponsors-related-style */
.sponsors-company {
    justify-content: center;
    gap: 130px;
}
.sponsors-company img {
    cursor: pointer;
    filter: grayscale(100%);
}

footer {
    max-width: 1440px;
    margin: 0 auto;
    margin: 130px 240px 216px;
    text-align: center;
}
.footer-content {
    background-color: #FFF4E7;
    font-size: 1rem;
    padding: 38px;
    border-radius: 8px;
    border: none;
}
/* responsive for small device */
@media screen and (max-width: 576px) {
    .nav-bar,
    .our-benefits,
    .fact-box,
    .sponsors-company {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .our-benefits {
        gap: 0;
        margin: 20px auto;
        text-align: center;
    }
    .nav-menu {
        margin-top: 20px;
    }
    .brand-title,
    .section-title {
        font-size: 2.8rem;
    }
    .nav-menu {
        gap: 40px;
        padding: 10px;
    }
    .our-feature {
        flex-direction: column;
        margin: 0;
    }
    .feature-image {
        gap: 10px;
    }
    .feature-content {
        margin: 20px 0 0;
        padding: 10px;
        text-align: center;
    }
     .fact-box,
    .sponsors-company {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* flex-direction: column; */
        gap: 20px;
    }
   .some-facts,
   .fact-card,
   .sponsors {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    }
    .sponsors-company img {
        display: block;
        margin: 0 auto;
        width: 60%;
    }
    footer {
        width: 100%;
        margin: 100px auto;
    }
    .footer-content {
        margin: 30px;
        padding: 20px;
    }
}

/* responsive for tablet device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-bar,
    .our-benefits {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .nav-menu {
        margin-top: 20px;
    }
     .our-feature {
        width: 95%;
        flex-direction: column;
        margin: 0;
    }
    .feature-image,
    .architect-image {
        width: 95%;
        gap: 20px;
    }
    .feature-content {
        max-width: 95%;
        margin: 20px auto 0;
        padding: 10px;
        text-align: center;
    }
    .our-benefits {
        max-width: 95%;
        gap: 0;
        margin: 20px auto;
        text-align: center;
    }
    .benefits-box  {
        max-width: 95%;
    }
    .fact-box,
    .sponsors-company {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* flex-direction: column; */
        gap: 30px;
    }
    .some-facts,
   .fact-card,
   .sponsors {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    }
    .sponsors-company img {
        display: block;
        margin: 0 auto;
        width: 60%;
    }
     footer {
        width: 100%;
        margin: 100px auto;
    }
    .footer-content {
        margin: 30px;
        padding: 20px;
    }
}